/* App.css */
.scrollable-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollable-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
